@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');




body{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;

}
main{
    display: flex;
    justify-content: center;
}
.container{
    background: #FFFFFF;
    border-radius: 5px;
    width: 870px;
    height: 679px;
    padding: 30px;
}
.section-tittle{
    color: #562EFF;
    margin-top: -5px;
}
.top-players{
    background: white;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-row-gap: 30px;
}
.players{
    display: flex;
    align-items: center;
    
}
.players img{
    height: 56px;
    width: 56px;   
} 

.player-name{
        margin-left: 16px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-top: 30px;
}

.blog-container{

}

.blog-tittle{
    color: #562EFF;
}

.blog{
   display: flex;
}

.top-blogs img {
    width: 177px;
    height: 117px;
}

.blogtext{
    margin-left: 16px;
}